/* TODO: This css does not load into the page.. or somehow it did not work properly */
/* Tell Quill not to scroll */

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}


#quill_editor {
    height: auto;
    min-height: 100%;
    padding: 50px;
}

#quill_editor .ql-editor {
    font-size: 18px;
    overflow-y: visible;
}

/* Specify our own scrolling container */
#scrolling-container {
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
}