/*.container {*/
/*margin: 0 auto;*/
/*max-width: 1280px;*/
/*width: 90%;*/
/*}*/

/*@media only screen and (min-width: 601px) {*/
/*.container {*/
/*width: 90%;*/
/*}*/
/*}*/

@media only screen and (min-width: 993px) {
    .container {
        width: 95%;
        max-width: 1280px;
        margin: 0 auto;
    }

    nav, .main, footer {
        padding-left: 250px;
    }

    .sidenav {
        width: 250px;
    }

    .card-image-cover {
        max-height: 200px;
    }

    .article-statistics {
        text-align: right;
        font-size: small;
    }
}

@media only screen and (max-width: 992px) {
    nav, .main, footer {
        padding-left: 0;
    }

    .card-image-cover {
        max-height: 200px;
    }
}

.card-fab {
    position: relative;
    z-index: 1;
}

.material-icons {
    vertical-align: middle;
    display: inline-flex;
}

/* fluid 3 columns */
.grid-sizer,
.grid-item {
    width: 32%;
}

.gutter-sizer {
    width: 2%;
}

/* 2 columns wide */
.grid-item--width2 {
    width: 15%;
}

