{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block page_css %}
    <link href="{% static 'assets/css/article_list.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="{% static 'assets/img/material-design.jpg' %}" style="width: 285px; height: 200px;">
                </div>
                <a href="#user"><img class="circle" src="{{ user.headshot }}"></a>
                <a href="#name"><span class="white-text name">{{ user.username }}</span></a>
                <a href="#email"><span class="white-text email">{{ user.email }}</span></a>
            </div>
        </li>
        <li><a class="waves-effect" href="#!"><i class="material-icons">cloud</i>为你推荐</a></li>
        <li><a class="waves-effect" href="#!">热门文章</a></li>
        <li><a class="waves-effect" href="#!">精选</a></li>
        <li><a class="waves-effect" href="#!">我的收藏</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">投资组合</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header">我的组合<i class="material-icons">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#!">$AAPL</a></li>
                            <li><a href="#!">$JPM</a></li>
                            <li><a href="#!">$SQ</a></li>
                            <li><a href="#!">$ASML</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>

    </ul>
    {#  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>#}


{% endblock %}

{% block page_scripts %}
    <script src="{% static 'assets/js/article_list.js' %}"></script>
{% endblock %}