{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <div class="container">
    <div class="row">
        <div class="col s12 m12">
            <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                <h4 class="center">华尔街扛把子即将上线。。</h4>

                <p class="flow-text">我公众号5月1号关于百度的文章里面就提到过，陆奇可能会离开百度，这给百度已经定好的航向会增加变数。今天百度正式公布了陆奇离职的决定，造成了百度股价大跌接近10%
                </p>
                <img src="{% static 'test_folder/8.jpg' %}">
                <blockquote>
                    哈哈 .
                </blockquote>

            </div>
        </div>
    </div>
    </div>

{% endblock %}


{% block page_scripts %}

{% endblock %}