{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <div class="container">
    <div class="row">
        <div class="col m12" id="article">
            <h3 class="center">{{ article.title }}</h3>
                <h5 class="center">{{ article.author }}</h5>

                {{ article.body | safe }}

        </div>
    </div>
    </div>

    <div class="section">
        {% load threadedcomments_tags %}

        ...asda

        <h2>Comments for {{ article.title }}:</h2>

        {% render_comment_list for article %}
        {% render_comment_form for article %}
    </div>

{% endblock %}


{% block page_scripts %}

    <script src="{% static 'assets/js/article_detail.js' %}"></script>

{% endblock %}