{% load static %}

<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>一叶科技</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    {% block page_css %}
    {% endblock %}
</head>

<body>
<div class="navbar-fixed header">
    <nav class="teal lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{% url 'index' %}" class="brand-logo white-text"><img
                    src="{% static 'assets/img/11ye_Logo.png' %}" style="height: 60px; width: 176px;"></a>
            {#            <a id="logo-container" href="{% url 'index' %}" class="brand-logo black-text">一叶</a>#}
            {#            <form>#}
            {#                <div class="input-field">#}
            {#                    <input id="search" type="search" required>#}
            {#                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>#}
            {#                    <i class="material-icons">close</i>#}
            {#                </div>#}
            {#            </form>#}
            <ul id="dropdown_account" class="dropdown-content">
                <li><a href="#!">图文管理</a></li>
                <li><a href="#!">账号管理</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">

                {% if user.is_authenticated %}
                    <li><a class="dropdown-trigger white-text" href="#!"
                           data-target="dropdown_account">{{ user.username }}<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="{% url "user_logout" %}" class="white-text">登出</a></li>

                {% else %}
                    <li>
                        <button data-target="modal-login" class="btn modal-trigger">登录/注册</button>
                    </li>
                {% endif %}


            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
                <li><a href="#">TestLinkasd</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">菜单</i></a>
        </div>
    </nav>
</div>

{% block page_content %}

{% endblock %}

<!-- Login/Register Modal Structure -->

<div id="modal-login" class="modal">
    <div class="modal-content">
        <div class="col s12">
            <ul class="tabs center-align" style="margin-bottom: 3rem">
                <li class="tab col s3"><a class="active" href="#tab-login"><h5>登录</h5></a></li>
                <li class="tab col s3"><a href="#tab-register"><h5>注册</h5></a></li>
            </ul>
        </div>

        <div id="tab-login" class="input-field col s12">
            <form id="login-form">{% csrf_token %}
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="email_inline" type="email" class="validate" name="email">
                    <label for="email_inline">请输入邮箱</label>
                    <span class="helper-text" data-error="格式错误" data-success="格式正确"></span>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="password" type="password" class="validate" name="password">
                    <label for="password">请输入密码</label>
                </div>
                <div class="col s12">
                    <label>
                        <input type="checkbox"/><span>I agree with Terms and Conditions </span>
                    </label>
                    <p class="login_error"></p>
                </div>
            </form>
            <div class="modal-footer center-align">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">退出</a>
                <button class="waves-effect waves-light btn" type="submit" onclick="loginAjax()">登录</button>
            </div>
        </div>

        <div id="tab-register" class="input-field col s12">
            <form id="register-form">{% csrf_token %}
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="email_inline2" type="email" class="validate" name="email">
                    <label for="email_inline2">请输入邮箱</label>
                    <span class="helper-text" data-error="邮箱格式错误" data-success="邮箱正确"></span>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="password1" type="password" class="validate" name="password1">
                    <label for="password">请输入密码</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="password2" type="password" class="validate" name="password2">
                    <label for="password">请确认密码</label>
                </div>
            </form>
            <div class="modal-footer center-align">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">退出</a>
                <button class="waves-effect waves-light btn" type="submit" onclick="registerAjax()">注册</button>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l9 s12">
                <h5 class="white-text">关于我们</h5>
                <p class="grey-text text-lighten-4">哈哈哈哈哈</p>
                <h5 class="white-text">关注我们</h5>
            </div>
            {#            <div class="col l3 s12">#}
            {#                <h5 class="white-text">Settings</h5>#}
            {#                <ul>#}
            {#                    <li><a class="white-text" href="#!">Link 1</a></li>#}
            {#                    <li><a class="white-text" href="#!">Link 2</a></li>#}
            {#                    <li><a class="white-text" href="#!">Link 3</a></li>#}
            {#                    <li><a class="white-text" href="#!">Link 4</a></li>#}
            {#                </ul>#}
            {#            </div>#}
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">联系我们</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright <a class="brown-text text-lighten-3" href="#">Chumeng</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<!-- CSRF JS -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<!-- Page JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="{% static 'assets/js/base.js' %}"></script>

<!-- User JS -->
<script src="{% static 'assets/js/login-register.js' %}"></script>

{% block page_scripts %}

{% endblock %}

</body>
</html>
