{% load static %}
{% load el_pagination_tags %}

<div class="section" id="comments">
    {% for comment in comments %}
        <div class="divider"></div>
        <div class="row comment" id="comment{{ comment.pk }}">
            <div class="col s1 m1">
                <img src="{% static 'assets/img/img_placeholder.jpg' %}" alt=""
                     class="circle responsive-img"
                     style="height: 50px; width: 50px;">
            </div>
            <div class="col s11 m11">
                <span class="grey-text"
                      style="float: right; margin-top: 5px;">{{ comment.comment_time|date:"M d Y P" }}</span>

                <h6 style="font-weight: bold;">{{ comment.profile.username }}</h6>
                {% if comment.parent_comment %}
                    <div class="grey lighten-4 parent_comment">
                        <span style="font-weight: bold;">@{{ comment.parent_comment.profile.username }}:</span> {{ comment.parent_comment.comment }}
                    </div>
                {% endif %}
                {{ comment.comment | safe }}
                <div style="font-size: small;">
                    <a class="waves-effect waves-light grey-text text-darken-1"><i class="material-icons comment_like">favorite_border</i>
                        点赞 </a>
                    <a class="waves-effect waves-light grey-text text-darken-1 reply" name="reply"
                       style="margin-left: 1rem;"><i
                            class="material-icons">reply</i> 回复 </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>