{% load static %}
{% load index %}

<div class="section" id="comments">
    {% for comment in comments %}
        <div class="comment col s12 m12" id="comment{{ comment.pk }}">
            <div class="card grey lighten-5 z-depth-1">
                <div class="card-content black-text">
                    {#                      <span class="card-title">Card Title</span>#}
                    <div class="row valign-wrapper">
                        {% if comment.parent_comment %}
                            <div class="col s10 offset-l2">
                                <blockquote>{{ comment.parent_comment.comment | safe }}</blockquote>
                            </div>
                        {% endif %}

                        <div class="col s2 m2">
                            <img src="{% static 'assets/img/img_placeholder.jpg' %}" alt=""
                                 class="circle responsive-img"
                                 style="height: 50px; width: 50px;">
                        </div>
                        <div class="col s10 m10">
                            {{ comment.comment | safe }}
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-teal btn-flat"><i class="material-icons">thumb_up</i></a>点赞
                    <a class="waves-effect waves-teal btn-flat reply" name="reply"><i
                            class="material-icons">reply</i></a>回复
                    <a class="waves-effect waves-teal btn-flat"><i class="material-icons">favorite</i></a>
                    <a class="waves-effect waves-teal btn-flat"><i class="material-icons">share</i></a>分享
                </div>
            </div>
        </div>
    {% endfor %}
</div>