{#{% for comment in comments %}#}
{#    <p>{{ forloop.counter }}</p>#}
{#    {{ comment.comment | safe }}#}
{#            <p class="black-text">#}
{#                This is a {{ comment.comment | safe }}#}
{#            </p>#}
{#{% endfor %}#}
{##}
<div class="divider"></div>
<div class="section" id="comments">

    {% for comment in comments %}
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="images/yuna.jpg" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
              <span class="black-text">
               {{ forloop.counter }}
              </span>
                        {{ comment.comment | safe }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>