{% extends 'base.html' %}
{% load static %}


{% block page_css %}
    <link href="{% static 'assets/css/editor.css' %}" rel="stylesheet">
    <link href="{% static 'image_picker/image-picker.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="section">
            <h4>编辑文章</h4>
            <form id="editing_article" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="article_title" class="materialize-textarea" name="title"></textarea>
                        <label for="article_title">文章标题</label>
                    </div>
                </div>
            </form>
            <div id="editor-toolbar" class="editor-toolbar"></div>
            <div style="padding: 5px 0; color: #ccc"></div>
            <div id="editor" class="editor-text">
                <p>请输入文章内容</p>
            </div>
        </div>
        {#        <div class="divider"></div>#}

        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>封面设置</div>
                <div class="collapsible-body">
                    {#                    <button class="btn waves-effect waves-light" type="submit" name="cover_image_upload">#}
                    {#                        <i class="material-icons right">send</i>#}
                    {#                    </button>#}
                    <button class="btn modal-trigger waves-effect waves-light" data-target="image_list_modal">图片上传
                    </button>

                    {% include 'image_pagination.html' %}
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>作者信息</div>
                <div class="collapsible-body">
                    <input type="text" class="datepicker">
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>保存/发布</div>
                <div class="collapsible-body">
                    <button class="btn waves-effect waves-light" type="submit" name="article_save" id="article_save"><i
                            class="material-icons right">cloud</i>保存
                    </button>
                    <button class="btn waves-effect waves-light" type="submit" name="article_publish">
                        <i class="material-icons right">send</i>发布
                    </button>
                </div>
            </li>
        </ul>

    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
        </ul>
    </div>

    <div id="image_list_modal" class="modal bottom-sheet">
        <form method='POST' action="{% url 'cover_image_upload' %}" enctype="multipart/form-data"> {% csrf_token %}
            <div class="modal-content">
                <h4>图片上传</h4>
                <div class="file-field input-field col s12">
                    <div class="btn">
                        <span>选择图片</span>
                        <input type="file" name="cover_image" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn waves-effect waves-light" type="submit">
                    <i class="material-icons right">send</i>上传
                </button>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">取消</a>
            </div>
        </form>
    </div>

{% endblock %}


{% block page_scripts %}
    <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
    <script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
    <script src="{% static 'assets/js/article_edit.js' %}"></script>
    <script src="{% static 'image_picker/image-picker.js' %}"></script>

{% endblock %}