{% extends 'base.html' %}
{% load static %}


{% block page_css %}
    <link href="{% static 'assets/css/editor.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="section">
            <h4>编辑文章</h4>
            <form id="editing_article" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="article_title" class="materialize-textarea" name="title"></textarea>
                        <label for="article_title">文章标题</label>
                    </div>
                </div>
            </form>
            <div id="editor-toolbar" class="editor-toolbar"></div>
            <div style="padding: 5px 0; color: #ccc"></div>
            <div id="editor" class="editor-text">
                <p>请输入文章内容</p>
            </div>
        </div>
        <div class="section">
            <textarea></textarea>
        </div>
        <div class="section">
            <button class="btn waves-effect waves-light" type="submit" name="article_save" id="article_save"><i
                    class="material-icons right">cloud</i>保存
            </button>
            <button class="btn waves-effect waves-light" type="submit" name="article_publish">
                <i class="material-icons right">send</i>发布
            </button>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
        </ul>
    </div>

{% endblock %}


{% block page_scripts %}
    <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
    <script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
    <script src="{% static 'assets/js/article_edit.js' %}"></script>


{% endblock %}