{% extends 'base.html' %}
{% load static %}


{% block page_css %}
    <link href="{% static 'assets/css/editor.css' %}" rel="stylesheet">
    <link href="{% static 'image_picker/image-picker.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="section">
            <h4>编辑文章</h4>
            <form id="editing_article" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="article_title" class="materialize-textarea" name="title"></textarea>
                        <label for="article_title">文章标题</label>
                    </div>
                </div>
            </form>
            <div id="editor-toolbar" class="editor-toolbar"></div>
            <div style="padding: 5px 0; color: #ccc"></div>
            <div id="editor" class="editor-text">
                <p>请输入文章内容</p>
            </div>
        </div>
        <div class="divider"></div>

        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>封面设置</div>
                <div class="collapsible-body">
                    <form action="{% url 'editor_image_upload' %}">
                        <div class="file-field input-field col s12">
                            <div class="btn">
                                <span>图片上传</span>
                                <input type="file" name="cover">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" name="upload_image_path">
                            </div>
                        </div>

                    </form>
                    <h2>Images:</h2>
                    {% include page_template %}
                    {#                    <div class="input-field col s12">#}
                    {#                        <select class="browser-default" id="cover_img_select">#}
                    {#                            <option value="" disabled selected></option>#}
                    {#                            {% for image in images_list %}#}
                    {#                                <option data-img-src="{{ image.get_absolute_url }}"#}
                    {#                                        value="{{ image.pk }}">{{ image.slug }}</option>#}
                    {#                            {% endfor %}#}
                    {#                        </select>#}
                    {#                    </div>#}
                    {#                    {% if is_paginated %}#}
                    {#                        <ul class="pagination">#}
                    {#                            {% if page_obj.has_previous %}#}
                    {#                                <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i#}
                    {#                                        class="material-icons">chevron_left</i></a></li>#}
                    {#                            {% else %}#}
                    {#                                <li class="disabled"><i class="material-icons">chevron_left</i></li>#}
                    {#                            {% endif %}#}
                    {##}
                    {#                            {% for i in paginator.page_range %}#}
                    {#                                {% if page_obj.number == i %}#}
                    {#                                    <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>#}
                    {#                                {% else %}#}
                    {#                                    <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>#}
                    {#                                {% endif %}#}
                    {#                            {% endfor %}#}
                    {##}
                    {#                            {% if page_obj.has_next %}#}
                    {#                                <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i#}
                    {#                                        class="material-icons">chevron_right</i></a></li>#}
                    {#                            {% else %}#}
                    {#                                <li class="disabled"><i class="material-icons">chevron_right</i></li>#}
                    {#                            {% endif %}#}
                    {#                        </ul>#}
                    {#                    {% endif %}#}
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>作者信息</div>
                <div class="collapsible-body">
                    <input type="text" class="datepicker">
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>保存/发布</div>
                <div class="collapsible-body">
                    <button class="btn waves-effect waves-light" type="submit" name="article_save" id="article_save"><i
                            class="material-icons right">cloud</i>保存
                    </button>
                    <button class="btn waves-effect waves-light" type="submit" name="article_publish">
                        <i class="material-icons right">send</i>发布
                    </button>
                </div>
            </li>
        </ul>

        {##}
        {#        <div class="section">#}
        {#            <h5>发布样式编辑</h5>#}
        {#            <h5>封面</h5>#}
        {#            <img class="materialboxed" width="300" src="{% static 'assets/img/img_placeholder.jpg' %}" name="empty_img">#}
        {#            <button class="btn">从正文选择</button>#}
        {#            <button data-target="cover_upload_modal" class="btn modal-trigger">从图片库选择</button>#}
        {##}
        {#        </div>#}
        {#        <!-- Modal Structure -->#}
        {#        <div id="cover_upload_modal" class="modal modal-fixed-footer">#}
        {#            <div class="modal-content">#}
        {#                <h4>选择封面</h4>#}
        {#            </div>#}
        {#            <div class="modal-footer">#}
        {#                <a href="#" class="modal-close waves-effect waves-green btn-flat">使用</a>#}
        {#            </div>#}
        {#        </div>#}

    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
        </ul>
    </div>

    <div id="image_list_modal" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>图片库</h4>
            <div class="file-field input-field">
                <span>封面上传</span>
                <input type="file" name="cover">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col s3"></div>
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">使用</a>
        </div>
    </div>

{% endblock %}


{% block page_scripts %}
    <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
    <script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
    <script src="{% static 'assets/js/article_edit.js' %}"></script>
    <script src="{% static 'image_picker/image-picker.js' %}"></script>


    <script src="{% static 'assets/js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate();</script>

{% endblock %}