<div class="input-field col s12">
    <select class="browser-default" id="cover_img_select" name="cover">
        <option value="" disabled selected></option>
        {% for image in images_list %}
            <option data-img-src="{{ image.get_absolute_url }}"
                    value="{{ image.pk }}">{{ image.slug }}</option>
        {% endfor %}
    </select>
</div>
{% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i
                    class="material-icons">chevron_left</i></a></li>
        {% else %}
            <li class="disabled"><i class="material-icons">chevron_left</i></li>
        {% endif %}

        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
            {% else %}
                <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i
                    class="material-icons">chevron_right</i></a></li>
        {% else %}
            <li class="disabled"><i class="material-icons">chevron_right</i></li>
        {% endif %}
    </ul>
{% endif %}

